/*TO-DO: Alinear la ventana del conversor*/

.main-wrapper{
    display: flex;
    width: 5000px;
    align-items: center;
}

body{
    background-color: brown;
    align-items: center;
}

section
{
    width: 300px;
}

.current-exchange-container
{
    background-color: cadetblue;
    align-items: center;
    padding: 10px;
}
form
{
    align-items: center;
}
.btn
{
    align-self: center;
}

.amount{
    padding: 10px;
    margin-top: 10px;
}